<form action="/register" method="post">
    <p>NAME:</p><input type="text" name="name">
    <p>PASSWORD:</p><input type="password" name="pass">
    <p>E-MAIL:</p><input type="email" name="mail">

    <button>SUBMIT</button>
</form>
<a href="http://localhost:3000/login">already signed up?</a>